@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* main structure */

body {
    color: navy;
    background-color: lightgrey;
    font-size: 120%;
}

header {
    background-color: rgb(161, 248, 161);
}

h1 {
    text-align: center;
    font-family: Josefin Sans, sans-serif;
    margin-bottom: 30px;
    font-size: 400%;
}

nav {
    text-align: center;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    background-color: yellow;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

nav a {
    text-decoration: none;
    padding: 0 20px;
    font-size: 140%;
}

nav a:hover {
    color: blue;
    font-size: 145%;
    border: 3px solid green;
    border-radius: 30%;
}

h2 {
    padding-left: 10px;
    padding-bottom: 30px;
    font-family: Oswald, sans-serif;
    font-size: 250%;
}

h4 {
    padding: 30px;
    font-size: 150%;
    text-align: center;
}

p {
    padding-left: 50px;
    font-family: Lato, sans-serif;
    font-size: 120%;
}

table {
    border-spacing: 0;
    width: 100%;
}

th {
    font-size: 120%;
    text-align: center;
}

th,
td {
    border: 1px solid black;
    padding: 4px 8px 12px 8px;
    width: 38%;
}

section {
    padding: 10px 60px 60px;
}


/* ids*/

#main-method {
    padding-bottom: 50px;
}

#header-egg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    border-radius: 50%;
}

/* classes */

.divider {
    border: 1px solid black;
}

.yellow {
    background-color: yellow;
}

.white {
    background-color: rgb(255, 255, 255);
}

.egg-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 50px;
    padding-bottom: 50px;
}

/* media-query*/

@media screen and (min-width: 1201px) {
    .egg-image {
        width: 50%;
        height: 50%;
    }

    #header-egg {
        width: 40%;
        height: 40%;
    }
}

@media screen and (max-width: 1200px) {
    .egg-image {
        width: 65%;
        height: 65%;
    }

    th,
    td {
        padding: 4px 8px;
    }

    #header-egg {
        width: 55%;
        height: 55%;
    }

    nav {
        font-size: 80%;
    }
}

@media screen and (max-width: 950px) {
    nav {
        font-size: 60%;
    }
}

@media screen and (max-width: 800px) {
    .egg-image {
        width: 75%;
        height: 75%;
    }

    #header-egg {
        width: 65%;
        height: 65%;
    }

    nav {
        font-size: 50%;
    }
}

@media screen and (max-width: 620px) {
    .egg-image {
        width: 65%;
        height: 65%;
    }

    #header-egg {
        width: 55%;
        height: 55%;
    }

    body {
        font-size: 60%;
    }

    nav {
        font-size: 70%;
    }
}

@media screen and (max-width: 520px) {
    .egg-image {
        width: 60%;
        height: 60%;
    }

    #header-egg {
        width: 50%;
        height: 50%;
    }

    body {
        font-size: 60%;
    }

    nav {
        font-size: 60%;
    }
}

@media screen and (max-width: 460px) {
    .egg-image {
        width: 60%;
        height: 60%;
    }

    #header-egg {
        width: 50%;
        height: 50%;
    }

    body {
        font-size: 60%;
    }

    nav {
        font-size: 80%;
    }
}

@media screen and (max-width: 440px) {
    .egg-image {
        width: 80%;
        height: 80%;
    }

    #header-egg {
        width: 50%;
        height: 50%;
    }

    body {
        font-size: 70%;
        padding: 0;
        margin: 0;
    }

    nav {
        font-size: 60%;
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 410px) {
    .egg-image {
        width: 80%;
        height: 80%;
    }

    #header-egg {
        width: 50%;
        height: 50%;
    }

    body {
        font-size: 70%;
        padding: 0;
        margin: 0;
    }

    nav {
        font-size: 55%;
        padding: 0 10px;
        margin: 0;
    }
}

@media screen and (max-width: 410px) {
    .egg-image {
        width: 80%;
        height: 80%;
    }

    #header-egg {
        width: 50%;
        height: 50%;
    }

    body {
        font-size: 70%;
        padding: 0;
        margin: 0;
    }

    nav {
        font-size: 55%;
        padding: 0 10px;
        margin: 0;
    }
}

@media screen and (max-width: 390px) {
    .egg-image {
        width: 80%;
        height: 80%;
    }

    #header-egg {
        width: 50%;
        height: 50%;
    }

    body {
        font-size: 70%;
        padding: 0;
        margin: 0;
    }

    nav {
        font-size: 50%;
        padding: 0;
        margin: 0;
    }
}


/* footer */

footer {
    height: 100px;
    padding-bottom: 30px;
    background-color: rgb(161, 248, 161);
}

#social-links {
    text-align: center;
    padding: 50px 20px 0;
}

#social-links div {
    display: inline;
}

#social-links i {
    font-size: 260%;
    padding: 0 30px;
    color: navy;
}

#facebook:hover {
    font-size: 350%;
    color: blue;
}

#twitter:hover {
    font-size: 350%;
    color: rgb(0, 196, 196);
}

#youtube:hover {
    font-size: 350%;
    color: red;
}

#instagram:hover {
    font-size: 350%;
    color: pink;
}